from nornir_nautobot.plugins.tasks.dispatcher.default import NapalmDefault, NetmikoDefault
from nornir.core.task import Result, Task

class {{ item.class }}(NetmikoDefault) :
{% if item.dispatcher_code is defined and item.dispatcher_code is not none %}
    {{ item.dispatcher_code | indent(4) }}
{% else %}
    config_command = "{{ item.config_command }}"
{% endif %}